body{
	background-color: #ffffff;
	margin: 0;
	font-family: 'Josefin Sans';
	
}
/*header*/
header{
	position: fixed;
	top:0;
	margin: 0;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	display: grid;
	grid-template-columns: auto auto;
	background-color: #ffffff;
}
#levo{
	font-size: 25px;
	width: 200px;
	padding-bottom:11px;
	margin:0;
	padding: 7px 10px 10px 20px;
	margin: 0;
}
#desno{
	font-size: 20px;
	padding-bottom:11px;
	margin:0;
	padding: 10px 10px 10px 20px;
	margin: 0;
	justify-self: end;

}
.adesno{
	padding-right:20px;
	text-decoration: none;
	color: #293975;
	}

.alevo{
	padding-right:20px;
	text-decoration: none;
	color: #293975;
	}

.adesno:hover{
	color:#FF4E31;
}

#sve {
	display:grid;
	grid-template-columns: auto auto;
	margin: 5vh 5vw;
	grid-gap: 5vw;
}

#oba{
	width: 50vw;
}

.zgrada img{
	width:35vw;
	height: auto;
	margin-bottom: 3vh;
}

.oblak img {
	width: 40vw;
	height: auto;
	margin: 12vh 5vw 0 5vw;
}

.jedan:hover{
	cursor: pointer;
	
}
.dva{
	display:none;
}

.tekst {
	font-family:'Josefin Sans', Arial,sans-serif;
	font-size: 20px;
	line-height: 28px;
	color:#293975;
	font-weight: 300;
	margin-top: 200px;
}